.header {
  height: 8%;
  & h1 {
    // height: 8%;
    //   font-size: 64px;
    text-align: center;
    margin: 3px 0px;
    white-space: nowrap;
  }
}

.game-box {
  margin: 10px auto;
  width: 100%;
  height: 80%;
  text-align: center;
  justify-content: center;
  //   width: 100vh;
  max-width: 900px;

  & .colu {
    display: flex;
    width: 900px;
    height: 250px;
    align-items: center;

    & .computer-box {
      position: relative;
      //   justify-content: center;
      width: 250px;
      height: 250px;
      margin-left: auto;
      background-color: rgb(204, 201, 196);
      border-radius: 8px;

      & .computer-hand {
        position: absolute;
        width: 250px;
        height: 250px;
        opacity: 0;

        & img.ram-hand {
          width: 250px;
          height: 250px;
        }
        &.gu {
          opacity: 1;
        }
        &.cho {
          opacity: 1;
        }
        &.pa {
          opacity: 1;
        }
      }
      #ready_message {
        font-size: 40px;
        opacity: 1;
        transform: translateY(70px) translateX(10px);

        &.started {
          opacity: 0;
        }
      }
    }
    & .result-box {
      position: relative;
      background-color: red;
      width: 250px;
      height: 100px;
      margin-left: auto;
      margin-right: 5%;
      //   justify-content: flex-end;
      //   margin-left: 70%;
      //   justify-content: center;
      //   align-items: center;
      & p {
        margin: 0;
        font-size: 25px;
        transform: translateY(-50px);
      }
      & .result {
        font-size: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto 0;
        // text-align: center;
        opacity: 0;
        &.error_message {
          font-size: 27px;
          // opacity: 1;
        }

        &.win {
          opacity: 1;
        }
        &.lose {
          opacity: 1;
        }
        &.draw {
          opacity: 1;
        }
        &.error {
          opacity: 1;
        }
      }
    }
  }

  & .select-hand-container {
    & .select-hand-text {
      font-size: 40px;
      margin: 10px auto;
    }
    & .select-hand-box {
      display: flex;
      justify-content: space-between;
      margin: 5px 80px;

      & .select-hand-card {
        width: 200px;
        height: 200px;
        & button {
          padding: 0;
          //   border: none;
          // background-color: transparent;
        }
        & img {
          //   object-fit: cover;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  & .start-button {
    & button {
      width: 100px;
      height: 20px;
      margin: 5px auto;
    }
    & p {
      margin: 3px auto;
    }
  }
}
